#description{
    font-style:italic;
  }
  h1,p{
   text-align:center;
  }
  form{
    display:block;
    background-color:grey;
    margin:20%;
    margin-top:20px;
    padding:20px;
    padding-bottom:20px;
  }
  select,textarea{
    display:block;
    width:100%;
    border-radius:0.25rem;
    border:5px;
    height:30px;
  }
  #name,#email,#number{
    display:block;
    width:100%;
    border-radius:0.25rem;
    border:5px;
    height:35px;
  }
  
  label{
    
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  button{
  display:block;
  background-color:green;
  width:100%;
  border:none;
  height:40px;
  color:white;
  cursor:pointer;
  }